<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings configSource="personalAppSettings.config" />
  <!--
  Expects a file with the following settings
  <appSettings>
    <add key="baseUrl" value="https://yourServerBaseAddress/"/>
    <add key="sitePrefix" value="this will be 'tfs/' for on premise installations, blank for VSTS" /> 
    <add key="projectCollectionNames" value="Comma separated list of project collections"/>
    <add key="lastCommaFirstOfUserName" value="LastName, FirstName" />
    
    These are the start and end for the shelvesets to inspect. I intended to use CSharpScript to read and execute
    the statements in the value if they arent parseable to a specific DateTime, but havent got to it yet. So 
    just use plain old DateTime parseable values. Nonparseable will evaluate to last monday and last friday.
    <add key="inclusionStartDateTime"  value="DateTime.Now.Previous(DayOfWeek.Monday).BeginningOfDay();"/>
    <add key="inclusionEndDateTime"  value="DateTime.Now.Previous(DayOfWeek.Friday).EndOfDay();"/>
  </appSettings>
  -->
</configuration>